AI Lead Processing Workflow.json
{
  "name": "AI Lead Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bfec149c-5d93-4189-b3ce-aeb8ffd4fb70",
      "name": "Lead Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -896,
        384
      ],
      "webhookId": "ef1dbc30-9c39-4277-bfc0-d5c856273229"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "leadMessage",
              "value": "={{ $json.body.message || 'No message provided' }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "leadEmail",
              "value": "={{ $json.body.email || '' }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "leadName",
              "value": "={{ $json.body.name || '' }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "leadSource",
              "value": "={{ $json.body.source || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eaee6e26-ad5d-491f-a209-f020074c28e8",
      "name": "Prepare Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        384
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this lead and classify it.\n\nLEAD INFORMATION:\n- Message: \"{{ $json.leadMessage }}\"\n- Sender Name: \"{{ $json.leadName }}\"\n- Sender Email: \"{{ $json.leadEmail }}\"\n\nReturn ONLY the JSON with intent, name, company, and requirement.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a strict lead classification system for a software company.\n\nCLASSIFICATION RULES:\n- \"Sales\" → message is about buying, pricing, demo, partnership, new business, or product inquiry\n- \"Support\" → message is about issues, bugs, help requests, problems with existing service, or technical questions\n- \"Spam\" → message is irrelevant, promotional spam, gibberish, or unsolicited marketing\n\nOUTPUT INSTRUCTIONS:\n- \"intent\" must be EXACTLY one of: \"Sales\", \"Support\", \"Spam\"\n- \"name\": extract from the message or use the sender name. If none found, use \"Unknown\"\n- \"company\": extract company name if mentioned, otherwise \"Unknown\"\n- \"requirement\": summarize what they need in under 20 words. Use \"N/A\" for spam"
            }
          ]
        }
      },
      "id": "f0a0990d-9d82-40a6-9c56-d0a2bf993f5d",
      "name": "Classify Lead Intent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -496,
        384
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "c951c0e8-0236-4c46-9936-966fc98dcea2",
      "name": "Ollama - Classify",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -496,
        608
      ],
      "credentials": {
        "ollamaApi": {
          "id": "XuOFaJI2iw0PKv64",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"intent\": \"Sales\",\n  \"name\": \"John Doe\",\n  \"company\": \"Acme Corp\",\n  \"requirement\": \"Needs AI chatbot for e-commerce\"\n}"
      },
      "id": "ee0ed6ef-d80e-482e-a74f-a422cc9ed763",
      "name": "Classification Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -352,
        608
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "Sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "48adb38c-4b34-493d-b1ca-52a1737f63bd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "Support",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "67c8c0d2-5a14-413c-af91-abbbf0491da6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "Spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ebfbda88-5bde-410a-9987-02e8f4930894"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Spam"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "de2eb07f-3af8-4f98-8615-9d7040f5a1c1",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -192,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a short reply (3-4 sentences) to this potential customer:\n\n- Name: {{ $('Classify Lead Intent').first().json.output.name }}\n- Company: {{ $('Classify Lead Intent').first().json.output.company }}\n- Interest: {{ $('Classify Lead Intent').first().json.output.requirement }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a friendly and professional sales assistant for a software company.\nGuidelines:\n- Thank them warmly for their interest\n- Acknowledge specifically what they are looking for\n- Let them know a sales representative will reach out within 24 hours\n- Do NOT make specific promises about pricing, discounts, or features\n- Do NOT use placeholder text like [Your Name] instead write Rafid Mehda as the responder\n- Keep it to 3-4 sentences maximum"
            }
          ]
        }
      },
      "id": "661546de-b08a-4c02-8d7b-75b2477863fe",
      "name": "Generate Sales Response",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        48,
        16
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "4b1089a2-3d52-4df6-902f-f3bbef31caaf",
      "name": "Ollama - Sales",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        48,
        224
      ],
      "credentials": {
        "ollamaApi": {
          "id": "XuOFaJI2iw0PKv64",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a short reply (3-4 sentences) to this customer who needs help:\n\n- Name: {{ $('Classify Lead Intent').first().json.output.name }}\n- Company: {{ $('Classify Lead Intent').first().json.output.company }}\n- Issue: {{ $('Classify Lead Intent').first().json.output.requirement }}\n- Ticket Number: TK-{{ Math.floor(Math.random() * 900000 + 100000) }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a helpful and empathetic customer support assistant.\nGuidelines:\n- Acknowledge their specific issue with empathy\n- Assure them the issue is being prioritized\n- Include the ticket number provided in your reply\n- Let them know a support specialist will follow up shortly\n- Do NOT promise specific resolution times\n- Do NOT use placeholder text like [Your Name] instead write Rafid Mehda as the responder\n- Keep it to 3-4 sentences maximum"
            }
          ]
        }
      },
      "id": "bcfb61c1-16f3-4f11-9583-4b3f16b95e50",
      "name": "Generate Support Response",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        48,
        368
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "68303bea-5501-4828-8104-b5e6aac0feb4",
      "name": "Ollama - Support",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        48,
        560
      ],
      "credentials": {
        "ollamaApi": {
          "id": "XuOFaJI2iw0PKv64",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sp1",
              "name": "text",
              "value": "Thank you for reaching out. We have received your message and will review it shortly.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7baf711b-93c0-4bdf-9e82-6c29bfd05a36",
      "name": "Spam Auto-Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        688
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb1",
              "name": "text",
              "value": "Thank you for your message. A team member will review it and get back to you.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b4a21aea-ef8c-44a6-942c-14c323eded1a",
      "name": "Fallback Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        848
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "leadId",
              "value": "=LEAD-{{ $now.toMillis() }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "receivedAt",
              "value": "={{ $('Prepare Lead Data').first().json.receivedAt }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "source",
              "value": "={{ $('Prepare Lead Data').first().json.leadSource }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "originalMessage",
              "value": "={{ $('Prepare Lead Data').first().json.leadMessage }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "senderEmail",
              "value": "={{ $('Prepare Lead Data').first().json.leadEmail }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "senderName",
              "value": "={{ $('Prepare Lead Data').first().json.leadName }}",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "intent",
              "value": "={{ $('Classify Lead Intent').first().json.output.intent }}",
              "type": "string"
            },
            {
              "id": "a8",
              "name": "extractedName",
              "value": "={{ $('Classify Lead Intent').first().json.output.name }}",
              "type": "string"
            },
            {
              "id": "a9",
              "name": "extractedCompany",
              "value": "={{ $('Classify Lead Intent').first().json.output.company }}",
              "type": "string"
            },
            {
              "id": "a10",
              "name": "extractedRequirement",
              "value": "={{ $('Classify Lead Intent').first().json.output.requirement }}",
              "type": "string"
            },
            {
              "id": "a11",
              "name": "aiResponse",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "a12",
              "name": "status",
              "value": "={{ $('Classify Lead Intent').first().json.output.intent === 'Spam' ? 'archived' : 'pending_followup' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1e1e8f93-3dc5-437e-ac10-00434817eba3",
      "name": "Assemble Lead Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        368
      ]
    },
    {
      "parameters": {
        "schema": "public",
        "table": "leads",
        "columns": {
          "0": "i",
          "1": "d",
          "2": ",",
          "3": "r",
          "4": "e",
          "5": "c",
          "6": "e",
          "7": "i",
          "8": "v",
          "9": "e",
          "10": "d",
          "11": "_",
          "12": "a",
          "13": "t",
          "14": ",",
          "15": "s",
          "16": "o",
          "17": "u",
          "18": "r",
          "19": "c",
          "20": "e",
          "21": ",",
          "22": "o",
          "23": "r",
          "24": "i",
          "25": "g",
          "26": "i",
          "27": "n",
          "28": "a",
          "29": "l",
          "30": "_",
          "31": "m",
          "32": "e",
          "33": "s",
          "34": "s",
          "35": "a",
          "36": "g",
          "37": "e",
          "38": ",",
          "39": "s",
          "40": "e",
          "41": "n",
          "42": "d",
          "43": "e",
          "44": "r",
          "45": "_",
          "46": "e",
          "47": "m",
          "48": "a",
          "49": "i",
          "50": "l",
          "51": ",",
          "52": "s",
          "53": "e",
          "54": "n",
          "55": "d",
          "56": "e",
          "57": "r",
          "58": "_",
          "59": "n",
          "60": "a",
          "61": "m",
          "62": "e",
          "63": ",",
          "64": "i",
          "65": "n",
          "66": "t",
          "67": "e",
          "68": "n",
          "69": "t",
          "70": ",",
          "71": "e",
          "72": "x",
          "73": "t",
          "74": "r",
          "75": "a",
          "76": "c",
          "77": "t",
          "78": "e",
          "79": "d",
          "80": "_",
          "81": "n",
          "82": "a",
          "83": "m",
          "84": "e",
          "85": ",",
          "86": "e",
          "87": "x",
          "88": "t",
          "89": "r",
          "90": "a",
          "91": "c",
          "92": "t",
          "93": "e",
          "94": "d",
          "95": "_",
          "96": "c",
          "97": "o",
          "98": "m",
          "99": "p",
          "100": "a",
          "101": "n",
          "102": "y",
          "103": ",",
          "104": "e",
          "105": "x",
          "106": "t",
          "107": "r",
          "108": "a",
          "109": "c",
          "110": "t",
          "111": "e",
          "112": "d",
          "113": "_",
          "114": "r",
          "115": "e",
          "116": "q",
          "117": "u",
          "118": "i",
          "119": "r",
          "120": "e",
          "121": "m",
          "122": "e",
          "123": "n",
          "124": "t",
          "125": ",",
          "126": "a",
          "127": "i",
          "128": "_",
          "129": "r",
          "130": "e",
          "131": "s",
          "132": "p",
          "133": "o",
          "134": "n",
          "135": "s",
          "136": "e",
          "137": ",",
          "138": "s",
          "139": "t",
          "140": "a",
          "141": "t",
          "142": "u",
          "143": "s",
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.leadId }}",
            "received_at": "={{ $json.receivedAt }}",
            "source": "={{ $json.source }}",
            "original_message": "={{ $json.originalMessage }}",
            "sender_email": "={{ $json.senderEmail }}",
            "sender_name": "={{ $json.senderName }}",
            "intent": "={{ $json.intent }}",
            "extracted_name": "={{ $json.extractedName }}",
            "extracted_company": "={{ $json.extractedCompany }}",
            "extracted_requirement": "={{ $json.extractedRequirement }}",
            "ai_response": "={{ $json.aiResponse }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "original_message",
              "displayName": "original_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sender_name",
              "displayName": "sender_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "extracted_name",
              "displayName": "extracted_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "extracted_company",
              "displayName": "extracted_company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "extracted_requirement",
              "displayName": "extracted_requirement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_response",
              "displayName": "ai_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f9b4666c-5e59-445b-909b-dc70ea76d2fe",
      "name": "Store Lead in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        576,
        368
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "postgres": {
          "id": "s5aNoRdWii80K59B",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sender_email }}",
        "subject": "=Re: Your inquiry — {{ $json.id }}",
        "emailType": "text",
        "message": "={{ $json.ai_response }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        256
      ],
      "id": "fce65394-700f-46d1-981d-551f9ea6ee80",
      "name": "Send Automated Response",
      "webhookId": "e5270435-6155-40c4-9179-44789888970d",
      "credentials": {
        "gmailOAuth2": {
          "id": "yXkcYP1UPC0pNC1t",
          "name": "Gmail account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cdc74462-d8bd-44bc-87ef-e6608c558465",
              "leftValue": "={{ $json.sender_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        368
      ],
      "id": "64392e96-b8b6-45ca-8766-ada82277fe76",
      "name": "Has Email?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Store Lead in Database').first().json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1232,
        384
      ],
      "id": "dcbc067d-e0d9-40ab-aa3c-062404ca4cc0",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Lead Intake Webhook": {
      "main": [
        [
          {
            "node": "Prepare Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lead Data": {
      "main": [
        [
          {
            "node": "Classify Lead Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Classify": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Lead Intent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classification Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Classify Lead Intent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Classify Lead Intent": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Generate Sales Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Support Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Spam Auto-Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Sales": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Sales Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Support": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Support Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Sales Response": {
      "main": [
        [
          {
            "node": "Assemble Lead Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Support Response": {
      "main": [
        [
          {
            "node": "Assemble Lead Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spam Auto-Reply": {
      "main": [
        [
          {
            "node": "Assemble Lead Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Response": {
      "main": [
        [
          {
            "node": "Assemble Lead Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Lead Record": {
      "main": [
        [
          {
            "node": "Store Lead in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Lead in Database": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Automated Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Send Automated Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "JtTPwF9kPQb5xqSL",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7cb0b59f-aa1a-4c1e-8ea7-f50c13a56202",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aef7a30f69681e983c155ad84834bf07221c44461e53e7d4b0abd9f78fcc739e"
  },
  "id": "YmgKTVuXsU5pdapS",
  "tags": []
}